body {
    background-color: rgb(243, 246, 248);
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav {
    display: inline-flex;
    justify-content: space-between;
}
.nav ul li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    top: 0%;
}
span {
    color: rgb(92, 19, 226);
}
img {
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}
footer p {
    text-align: center;
}